
{% extends "index.html" %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm">
            <img src="{{data.photo.url}}" width="473px" height="700px">
        </div>
        <div class="col-lg-6 col-md-6 col-sm">
          <div class="row">
            <div class="col-lg">
              <h5>{{data.name}}</h5>
              <p>MRP inclusive of all taxes</p>
              <h4>RS.{{data.price}}</h5>
             </div>      
           </div>
           <p class="pd_1 mt-5"><b>Sizes</b></p>
           <div class="row mt-4 mb-4" >
            <div class="col-lg-3 col-md-6 col-sm">
              <button class="btn_d1">XS</button>
             </div>      
            <div class="col-lg-3 col-md-6 col-sm">
              <button class="btn_d1">S</button>
             </div>      
            <div class="col-lg-3 col-md-6 col-sm">
              <button class="btn_d1">M</button>
             </div>      
            <div class="col-lg-3 col-md-6 col-sm">
              <button class="btn_d1">L</button>
             </div>      
            <div class="col-lg-3 col-md-6 col-sm mt-2">
              <button class="btn_d1">XL</button>
             </div>  
             <div class="col-lg-3 col-md-6 col-sm mt-2">
              <button class="btn_d1">XXL</button>
             </div>     
           </div>
           
             {% if data.stock == 0 %}
             <p class="out-of-stock-message">Out of stock</p>
             {% else %}
             <a href="{% url 'cart:cart' data.id %}" class="bn14">Add To Cart</a>
            {% endif %}
        </div>
     
    </div>
</div>

{% endblock%} 