
{% extends "index.html" %}
{% load static %}
{% block body %}
    <div class=" container mt-5  ">
        <div class="row">
         
            <div class=" col-lg-4 col-md col-sm ">
                <P class="div_h1">Estimated delivery time:2-7 days</P>
            </div>
            <div class="col-lg-4 col-md col-sm">
                <P class="div_h1">Members get free shipping above Rs.1999</P>
            </div>
            <div class="col-lg-4 col-md col-sm">
                <P class="div_h1">Free & flexible 15 days return</P>
            </div>
         
        </div>
        <div class="row">
            <div class="col-lg col-md col-sm">
                <div class="div_i1 mt-5">
                    <img src="{% static 'image/ben-iwara-V51__4DiYV4-unsplash.jpg' %}" class="w-100"  height="800px">
                 <div class="div_h2">
                   <h5 class="h_h1">FINEL SALE</h5>
                   <h1 class="h_h2">Up to 70% off</h1>
                   <h5 class="h_h3">Don't miss out! Get your faves</h5>
                 </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container div_h5">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm mt-5 pe-0 ps-0">
            <div class="img-container">
              <a href=""></a><img src="{% static 'image/img1.webp' %}" class="w-100 img_h1" height="450px">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm mt-5 pe-0 ps-0">
            <div class="img-container">
              <a href=""></a> <img src="{% static 'image/img2.webp' %}" class="w-100 img_h1" height="450px">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm mt-5 pe-0 ps-0">
            <div class="img-container">
              <a href=""></a> <img src="{% static 'image/img3.webp' %}" class="w-100 img_h1" height="450px">
            </div>
          </div>
        </div>
      </div>


    

    <div class="container">
        <div class="row">
            <div class="col-lg col-md col-sm mt-5">
             <img src="{% static 'image/home_img2.webp' %}" class="w-100" height="800px">
            </div>
         
         </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <h3 class="hd_h2">Category you must like</h3>
            <div class="col-lg-5 col-md col-sm mt-5">

              <div class="row">
               
                   <div class="col-4">
                    <div class="img-container">
                      <a href=""> <img src="{% static 'image/L1.webp' %}" class="w-100" height="180px"></a>
                 </div>
                    <h2 class="hd_h1">Ladies</h2>
                    <p class="p_h1">Blouses</p>
                   </div>
                   <div class="col-4 ">
                    <div class="img-container">
                      <a href=""><img src="{% static 'image/L2.webp' %}" class="w-100" height="180px"></a>
                   </div>
                    <h2 class="hd_h1">Ladies</h2>
                    <p class="p_h1">Leggings</p>
                   </div>
                   <div class="col-4 ">
                    <div class="img-container">
                      <a href=""><img src="{% static 'image/L4.webp' %}" class="w-100" height="180px"></a> 
                </div>
                    <h2 class="hd_h1">Ladies</h2>
                    <p class="p_h1">Kurtas</p>
                   </div>
              </div>
            </div>
            <div class="col-lg-2 col-md col-sm mt-5">
                
                <img src="{% static 'image/New.webp' %}" class="w-100" height="180px">
            </div>
            <div class="col-lg-5 col-md col-sm mt-5">
                <div class="row">
                    <div class="col-4 ">
                        <div class="img-container">
                        </div>
                        <a href=""> <img src="{% static 'image/L3.jpeg' %}" class="w-100" height="180px"></a> 
                        <h2 class="hd_h1">Ladies</h2>
                        <p class="p_h1">Shrugs & Boleros</p>
                    </div>
                    <div class="col-4 ">
                        <div class="img-container">
                          <a href=""> <img src="{% static 'image/L6.jpeg' %}" class="w-100" height="180px"></a>
                     </div>
                        <h2 class="hd_h1">Ladies</h2>
                        <p class="p_h1">Jackets & Coats</p>
                    </div>
                    
                    <div class="col-4 ">
                        <div class="img-container">
                       
                          <a href="{{i.get_url}}"> <img src="{% static 'image/L5.webp' %}" class="w-100" height="180px"></a>
                           
                      </div>
                        <h2 class="hd_h1">Ladies</h2>
                        <p class="p_h1">Tshirts</p>
                    </div>
                   
               </div>
            </div>
         
        </div>
    </div>
   
    <div class="div_h3 container mb-3">
        <div class="row">
            <div class="col-lg-1 col-md-6 col-sm-12">
                   <div class="div_h4">
                    <i class="bi bi-patch-check icon1"></i>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                
                 <h4 class="h_h4">100% GENUINE PRODUCTS</h4>
            </div>

            <div class="col-lg-1 col-md-6 col-sm-12">       
                   <div class="div_h4">
                    <i class="bi bi-truck icon1"></i>
                 </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12">       
                
                 <h4 class="h_h4"> SUPER FAST DELIVERY</h4> 
            
         </div>

           <div class="col-lg-1 col-md-6 col-sm-12">       
              <div class="div_h4">
                  <i class="bi bi-inboxes icon1"></i>
                 
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">       
              
                  <h4 class="h_h4">EASY EXCHANGE & RETURN</h4> 
              
          </div>
         
     </div>
    </div>    
         
   

    {% endblock %} 