
 {% load static %}

 <div class="div_n1">
 
 <nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'cloth:home'%}"><img  src="{% static 'image/logo1.png' %}" class="w-100" height="80px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="txt nav-link " href="{% url 'cloth:home'%}" role="button" ><b> HOME</b>
          </a>
        </li>
        <li class="nav-item dropdown">
            
          <a class="txt nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b> MENS</b>
           
          </a>
          <ul class="dropdown-menu">
            {% for link in men %}
            <li><a class="dropdown-item" href="{{link.get_url}}">{{link.name}}</a></li>
           {% endfor %}
            
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="txt nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b> WOMENS</b>
           
          </a>
          <ul class="dropdown-menu">
            {% for i in women %}
            <li><a class="dropdown-item" href="{{i.get_url}}">{{i.name}}</a></li>
           {% endfor %}
            
          </ul>
        </li>
        <div class="">
          <form class="d-flex" role="search" method="get" action="{% url 'search:search' %}">
            <div class="div_new3">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
          </div>
          </form>
    </div>
      
      </ul>
      
    </div>
  </div>

<ul class="ul_n1">
                      
  <li style="--clr:#5db537;">
    <a href="{% url 'cart:display' %}">
        <i class="bi bi-bag-heart-fill"></i>
        <span>Store</span>  
    </a>  
</li>
<li class="nav-item">
  {% if user.is_authenticated %}

<li class="nav-item dropdown div_new2">
  <a class="txt nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b> {{user}}</b>
   
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'profile:profile' %}"><i class="bi bi-person-fill"></i>My Profile</a></li>
  
    <li><a href="{% url 'reg:logout' %}" >Logout</a></li>
  </ul>
</li>
   
  </div> 
  {% else %}
  <div class="div_new1 ">
  <a href="{% url 'reg:register' %}" >REGISTER/</a>  
  <a href="{% url 'reg:login' %}" >LOGIN</a>
</div>
  {% endif %}  
        
</li>
</ul>
 </div> 
 
</nav> 


{% comment %} <nav class="navbar navbar-expand-lg bg-light navbar-light 
">
    <div class="container-fluid ">
      <a class="navbar-brand" href="{% url 'cloth:home'%}"><img  src="{% static 'image/logo1.png' %}" class="w-100" height="80px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="txt nav-link " href="{% url 'cloth:home'%}" role="button" ><b> HOME</b>
          </a>
        </li>
        <li class="nav-item dropdown">
            
          <a class="txt nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b> MENS</b>
           
          </a>
          <ul class="dropdown-menu">
            {% for link in men %}
            <li><a class="dropdown-item" href="{{link.get_url}}">{{link.name}}</a></li>
           {% endfor %}
            
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="txt nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b> WOMENS</b>
           
          </a>
          <ul class="dropdown-menu">
            {% for i in women %}
            <li><a class="dropdown-item" href="{{i.get_url}}">{{i.name}}</a></li>
           {% endfor %}
            
          </ul>
        </li>
          <div class="div_new5">
          <span class="material-symbols-outlined">
            shopping_cart_checkout
            </span> : <h5>{{count}}</h5>
            
           
          </div>
          
          <li class="nav-item">
            {% if user.is_authenticated %}
            <div class="div_n2">
              <li class="nav-item dropdown">
                <a class="txt nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b> {{user}}</b>
                 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'profile:profile' %}"><i class="bi bi-person-fill"></i>My Profile</a></li>
                
                  <li><a href="{% url 'reg:logout' %}" >Logout</a></li>
                </ul>
              </li>
                 
                </div> 
            {% else %}
            <div class="div_new2 ">
              <a href="{% url 'reg:register' %}" >REGISTER/</a>  
              <a href="{% url 'reg:login' %}" >LOGIN</a>
            </div>
            {% endif %}  
                    
            </li>
        
        </ul>
        <form class="d-flex" role="search" method="get" action="{% url 'search:search' %}">
          <div class="div_new3">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </div>
        </form>
      </div>
    </div>
  </nav>
   {% endcomment %}